<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BotQually.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <BotQually.Properties.Settings>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="Server" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WorkType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ParallelHorse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RandomPause" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Tray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sort" serializeAs="String">
        <value>age</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientType" serializeAs="String">
        <value>0</value>
      </setting>
    </BotQually.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>