<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="log" archiveAboveSize="1024000" maxArchiveFiles="4" archiveEvery="Day" archiveFileName="logs/logArchive.txt" xsi:type="File" concurrentWrites="False" fileName="logs/log.txt"/>
    <target name="logAcc" archiveAboveSize="1024000" maxArchiveFiles="4" archiveEvery="Day" archiveFileName="logs/logAccArchive.txt" xsi:type="File" concurrentWrites="False" fileName="logs/logAcc.txt"/>
    <target name="logMain" archiveAboveSize="1024000" maxArchiveFiles="4" archiveEvery="Day" archiveFileName="logs/logMainArchive.txt" xsi:type="File" concurrentWrites="False" fileName="logs/logMain.txt"/>
    <target name="logError" archiveAboveSize="1024000" maxArchiveFiles="4" archiveEvery="Day" archiveFileName="logs/logErrorArchive.txt" xsi:type="File" concurrentWrites="False" fileName="logs/logError.txt"/>
  </targets>

  <rules>
    <logger name="BotQually.MainViewModel" minlevel="Info" writeTo="logMain"/>
    <logger name="BotQually.Account" minlevel="Info" writeTo="logAcc"/>
    <logger level="Info" writeTo="log"/>
    <logger level="Error" writeTo="logError"/>
  </rules>
</nlog>